.wrapper {
  overflow-x: scroll;
  margin: 20px 0;
  display: flex;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: 0 25px;
  min-height: 250px;
}

.instaImageLoaderContainer {
  height: 250px;
  position: relative;
  flex: 1 0 250px;
  border-radius: 5px;
  overflow: hidden;

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.spinnerContainer {
  position: absolute;
  left: 100px;
  top: 100px;
}

.instaImageContainer {
  height: 250px;
  position: relative;
  flex: 1 0 250px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageInfo {
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  p {
    margin: 20px 30px;
  }
}