.container {
  width: 100%;
  position: relative;
  display: flex;
  height: 400px;
  width: 100%;
  @media (max-width: 524px) {
    height: 250px;
    margin-bottom: 125px;
  }
}

.purpleBox {
  width: 80%;
  height: 100%;
  background-color: #927cdb;
  @media (max-width: 524px) {
    width: 100%;
  }
}

.whiteBox {
  width: 20%;
  @media (max-width: 524px) {
    display: none;
  }
}

.introContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(20% - 100px);

  @media (max-width: 524px) {
    left: 0;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  img {
    border-radius: 50%;
    width: 200px;
    @media (max-width: 524px) {
      transform: translateY(50%);
    }
  }
}

.nameHeading {
  margin-left: 25px;
  h2,
  h4 {
    color: #fff;
    margin: 0;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  @media (max-width: 524px) {
    margin: 0;
    text-align: center;
    transform: translateY(130%);
  }
}
